body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: blue;
}

h2 {
    color: rgb(33, 28, 109);
}

p {
    font-size: 20px;
}

ul {
    display: inline-block;
    text-align: left;
}

button {
    background-color: rgb(247, 4, 4);
    color: white;
    padding: 10px;
}